.dropdown__wrapper {
    display: flex;
    position: relative;
}

.dropdown__selected {
    display: flex;
    padding: 21px;
}

.selected-currency-symbol, .currency-chevron-down-icon, .currency-chevron-up-icon {
    margin: auto 0;
    min-height: 5px;
    min-width: 9px;
}

.selected-currency-symbol {
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    margin-right: 10px;
}

.dropdown__options {
    position: absolute;
    top: 61px;

    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    z-index: 1;
}

.dropdown__option {
    font-family: 'Raleway';
    font-style: Medium;
    font-size: 18px;
    line-height: 29px;
    font-weight: 500;

    width: 114px;
    padding-left: 21px;

    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid transparent;
    z-index: 3;
}

.dropdown__option:hover {
    background: #EEEEEE;
}

.dropdown__option:first-child {
    padding-top: 20px;
    padding-bottom: 13px;
}

.dropdown__option {
    background: #ffffff;
}

.dropdown__option:last-child {
    padding-top: 13px;
    padding-bottom: 20px;
}

.hiddenObj {
    display: none;
}

.dropdown-btn {
    width: 73px;
    height: 79px;

    position: absolute;
}