.swatch-input__wrapper{
    margin-bottom: 24px;
}

.swatch-input__inner-wrapper{
    position: relative;
    display: inline-block;
}

.swatch-input{
    width: 32px;
    height: 32px;

    opacity: 0;
    margin-right: 8px;

}

.swatch-input-label{
    display: inline-block;
    width: 32px;
    height: 32px;

    position: absolute;
    z-index: -1;
    left: 0;
    outline: 1px solid white;
}

label[for="White"]{
    border: 1px solid gray;
}

.swatch-input:checked+label{
    box-shadow: 0 0 0 2px rgba(94, 206, 123, 1);
}

@-moz-document url-prefix(){
    .swatch-input:checked+label{
        box-shadow: 0 0 0 3px rgba(94, 206, 123, 1);
    }
}