.swatch-input__wrapper{
    margin-bottom: 24px;
}

.swatch-input__inner-wrapper{
    position: relative;
    display: inline-block;
}

.swatch-input{
    width: 32px;
    height: 32px;

    opacity: 0;
    margin-right: 13px;
}

.swatch-input:hover{
    cursor: pointer;
}

.swatch-input-label{
    display: inline-block;
    width: 32px;
    height: 32px;

    position: absolute;
    z-index: -1;
    left: 0;
    outline: 1px solid white;
}

label[for="White"]{
    border: 1px solid gray;
}

.swatch-input:checked+label{
    box-shadow: 0 0 0 2px rgba(94, 206, 123, 1);
}

/* minicart styles */

.swatch-input__wrapper__minicart{
    position: relative;
}

.swatch-input__inner-wrapper__minicart{
    position: relative;
    display: inline-block;
}

.swatch-input__minicart{
    width: 16px;
    height: 16px;

    opacity: 0;
    margin-right: 8px;
}

.swatch-input-label__minicart{
    display: inline-block;
    width: 16px;
    height: 16px;

    position: absolute;
    z-index: -1;
    left: 0;
    outline: 1px solid white;
}

.swatch-input__minicart:checked+label{
    box-shadow: 0 0 0 2px rgba(94, 206, 123, 1);
}