.text-input__wrapper{
    margin-bottom: 24px;
}

.input-header{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;

    margin-bottom: 8px;

    text-transform: uppercase;
}

.text-input__inner-wrapper{
    position: relative;
    display: inline-block;
}

.text-input{
    width: 62px;
    height: 45px;

    opacity: 0;
    margin-right: 16px;

}

.text-input:checked+label{
    color: white;
    background-color: #1D1F22;
}

.text-input-label{
    display: inline-block;
    width: 63px;
    height: 45px;

    border: 1px solid #1D1F22;
    position: absolute;
    z-index: -1;
    left: 0;

    text-align: center;
    padding-top: 10px;
}

.input__protector{
    width: 100%;
    height: 48px;
    position: absolute;
    z-index: 1;
}

/* minicart styles */

.input-header__minicart{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 14px;
    color: #1D1F22;

    margin-bottom: 8px;
    max-width: fit-content;
}

.text-input__wrapper__minicart{
    width: fit-content;
    margin-bottom: 8px;

    position: relative;
}

.input__protector__minicart{
    width: 100%;
    height: 26px;
    position: absolute;
    z-index: 5;

}

.text-input__inner-wrapper__minicart{
    position: relative;
    display: inline-block;
}

.text-input__minicart{
    width: 24px;
    height: 24px;

    opacity: 0;
    margin-right: 8px;

}

.text-input-label__minicart{
    display: inline-block;
    width: 24px;
    height: 24px;

    border: 1px solid #1D1F22;
    position: absolute;
    z-index: -1;
    left: 0;

    text-align: center;
    padding-top: 2px;
}

.text-input__minicart:checked+label{
    color: white;
    background-color: #1D1F22;
}