header {
    margin: 0 auto;
    padding: 0 101px;

    font-family: 'Raleway';
    color: #1D1F22;
    font-size: 16px;
    line-height: 120%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > div {
    display: flex;
}

.header-category {
    padding: 28px 16px 30px;

    margin: 0px;
    border-bottom: 2px solid transparent;
}

.header-category:active {
    font-weight: 600;
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
}

.header-category:hover {
    cursor: pointer;
}

.header-logo {
    margin: auto 0;
}

.header-details__currency{
    display: flex;
}

.currency-symbol, .currency-chevron-icon, .header-details__cart {
    margin: auto 0;
}

.header-details__cart {
    max-height: 20px;
}

.currency-symbol {
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    margin-right: 10px;
}