section {
    padding: 80px 101px 191px;
}

.main-section__header {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;

    max-width: fit-content;
    margin-bottom: 103px;
}

.main-section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-section__screen{
    position: absolute;
    top: 80px;
    left: 0px;
    z-index: 3;
    background-color: rgba(57, 55, 72, 0.22);

    width: 100%;
    height: 100%;

    display: none;
}

/* .main-section__screen{
    min-height: 100%;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0px;
    z-index: 4;

    background-color: rgba(165, 42, 120, 0.37);

    position: absolute;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0px;
    bottom: 0px;
    z-index: 4;
    background-color: rgba(165, 42, 120, 0.37);
    height: calc(100% + 96px);    

}

@-moz-document url-prefix(){
    .main-section__screen{
        height: calc(100% + 20px);

    }
} */