.product-wrapper{
    display: flex;
}

.product__images{
    display: flex;
    margin-right: 100px;
}

.product__side-images{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.image__mini {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
}

.product__main-image{
    width: 610px;
    height: 511px;
}



.info-form__brand-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;

    margin-bottom: 16px;
}

.info-form__item-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    
    color: #1D1F22;

    margin-bottom: 43px;
}
