.cart-item__container{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    width: 100%;
}

.left-static-part__brand-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;

    color: #1D1F22;

    margin-bottom: 16px;
}

.left-static-part__item-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;

    color: #1D1F22;

    margin-bottom: 20px;
}

.left-static-part__price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    color: #1D1F22;

    margin-bottom: 20px;
}

.left-static-part__input-container{
    position: relative;
}

.cart-item__right-dynamic-part{
    display: flex;
}
/* 
.right-dynamic-part__image-slider{
    height: 288px;
    position: relative;
}

.image-slider__image{
    width: 200px;
    height: 288px;
}


.right-dynamic-part__slider-btn{
    position: absolute;
    width: 24px;
    height: 24px;

    background: rgba(0, 0, 0, 0.73);
    bottom: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-dynamic-part__slider-btn-right{
    right: 16px;
}

.right-dynamic-part__slider-btn-left{
    right: 48px;
} */


