.product-container {
    min-width: fit-content;
    padding: 16px;
    position: relative;

    margin-bottom: 101px;
}

.product-container:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    transition: 1s linear;
    cursor: pointer;
}

.product-container:hover .product-button {
    opacity: 1;
    cursor: pointer;
}

img {
    width: 354px;
    height: 330px;

    margin-bottom: 24px;
    display: block;
}

.product__name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.product__price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

.product-button {
    border: none;
    background-color: #5ECE7B;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: absolute;
    bottom: 72px;
    right: 30px;
    opacity: 0;

    transition: all .1s linear ;
}
.product-button > svg {
    margin-top: 4px;
}

/* OUT OF STOCK WRAPPER*/
.product-outofstock-wrapper {
    pointer-events: none;
    opacity: 0.5;
    position: relative;
}

.wrapper__title {
    position: absolute;
    top: 162px;
    right: 114px;

    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #404353;
    opacity: 1;
    z-index: 1;
}