.product-wrapper {
    display: flex;
}

.product__images {
    display: flex;
    margin-right: 100px;
}

.product__side-images {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.product__side-images__many {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    overflow-x: hidden;
    max-height: 610px;

    scrollbar-width: thin;
    width: 100px;
}
.image__mini {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    object-fit: cover;
}

.image__mini:hover {
    cursor: pointer;
}

.product__main-image {
    width: 610px;
    height: 511px;
    object-fit: contain;
}

.info-form__brand-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;

    margin-bottom: 16px;
}

.info-form__item-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    
    color: #1D1F22;

    margin-bottom: 43px;
}

.info-form__price-title {
    margin-top: 12px;
    margin-bottom: 10px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;

    display: inline-block;
}

.info-form__price {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;

    color: #1D1F22;

    margin-bottom: 20px;
}

.info-form__submit-button {
    width: 292px;
    height: 52px;
    margin-bottom: 40px;

    padding: 16px 32px;
    background: #5ECE7B;
    border: none;

    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    margin-top: 28px
}

.info-form__submit-button:hover {
    cursor: pointer;
}

.info-form__submit-button__disabled {
    width: 292px;
    height: 52px;
    margin-bottom: 40px;

    pointer-events: none;
    padding: 16px 32px;
    background: #8b8b8b;
    border: none;

    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    margin-top: 28px
}

.info-form__description > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 159.96%;

    color: #1D1F22;
    max-width: 292px;
}

.product__individual-wrapper {
    width: 1240px;
    margin: 80px auto;
}

.product__root {
    position: relative;
}

.product__sticky-footer {
    position: static;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    height: 10vh;
}

.product-image__outofstock-wrapper {
    opacity: 0.5;
    position: relative;
}

.product-image__outofstock-title {
    position: absolute;
    top: 238px;
    right: 200px;

    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #404353;
    opacity: 1;
    z-index: 1;
}