
.image-slider{
    height: 288px;
    position: relative;
}

.image-slider__image{
    width: 200px;
    height: 288px;
}


.slider-btn{
    position: absolute;
    width: 24px;
    height: 24px;

    background: rgba(0, 0, 0, 0.73);
    bottom: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-btn-right{
    right: 16px;
}

.slider-btn-left{
    right: 48px;
}

/* minicart styles  */


.image-slider__mini-cart{
    height: 190px;
    position: relative;
}

.image-slider__image__mini-cart{
    width: 121px;
    height: 190px;
}
